<div class="container mobile-container d-flex flex-column justify-content-center">
  <h3 class="text-center text-white pb-4">
    Résultats
  </h3>
  <%= render 'results_table',
    games: @games,
    quiz: @quiz,
    player_id: current_player.id
  %>
</div>
<%= render 'shared/players_counter', quiz: @quiz %>
