<div class="container mobile-container d-flex flex-column justify-content-center">
  <h3 class="text-center text-white pb-4">
    Résultats
  </h3>
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Joueur</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each_with_index do |game, index| %>
        <tr>
          <th scope="row" class="text-white"><%= index + 1 %></th>
          <td><%= game.player.email.split('@')[0].capitalize %></td>
          <td><%= game.score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
