<div class="container mt-4">
  <div class="row">
    <div class="col-6">
      <h1>Quiz <%= @quiz.name %></h1>
    </div>
    <div class="col-6 d-flex justify-content-around">
      <p>
        <i class="fas fa-film"></i>
        <%= @quiz.room %>
      </p>
      <p>
        <i class="far fa-user"></i>
        <%= @quiz.games.count %> participant
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Numéro de salle</th>
            <th scope="col">Récompense</th>
            <th scope="col">Participants</th>
            <th scope="col">Date de création</th>
          </tr>
        </thead>
        <tbody>
          <% @quiz.players.each do |player| %>
              <tr>
                <td><%= player.name %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
