<div id="question">
  <%= render 'players/games/question', question: @question, game: @game, game_answer: @game_answer %>
</div>
<%= render 'shared/players_counter', quiz: Game.find(params[:id]).quiz %>
