<div class="container mobile-container d-flex flex-column justify-content-center">
  <h5 class="text-center text-light mb-5">
    <%= @question.content %>
  </h5>
  <div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4">
      <% @question.answers.each do |answer| %>
        <%= simple_form_for([:players, @game, @game_answer]) do |f| %>
          <%= f.input :answer_id, as: :hidden, input_html: { value: answer.id } %>
          <%= f.submit answer.content, class: "btn btn-light btn-lg btn-block my-3" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
