.pursuit-title {
  font-weight: 100;
  font-size: 4rem;
  font-family: futura;
}

.pursuit-title-mobile {
  font-weight: 100;
  font-size: 3rem;
  font-family: futura;
}
#qr_code {
  // background-color: black;
  // svg rect {
  //   fill: white !important;
  // }
  display: flex;
  justify-content: space-evenly;
  .qr_square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 512px;
    background-color: white;
    border-radius: 5%;
  }
  .qr-instructions {
    // flex: 0 0 50%;
    width: 500px;
    border-radius: 5%;
    .qr-instructions-img {
      border-radius: 10%;
      height: 192px;
    }
  }

}
.qr_square-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 5%;
}
.main {
    // fallback for old browsers
  min-height: 100vh;
  background: #141E30;
  // Chrome 10-25, Safari 5.1-6
  background: -webkit-linear-gradient(to top, #243B55, #141E30);
  // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  background: linear-gradient(to top, #243B55, #141E30,);
}
