<div class="container">
  <div class="row">
    <div class="col">
      <h1>Welcome to the game</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ab ipsum similique inventore beatae nulla maiores distinctio minus, impedit corporis, laborum dolorem voluptatum saepe asperiores quo accusamus quam tempora ad!</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "C'est parti!", players_quiz_games_path(@quiz), method: :post, class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
</div>
