<div class="container">
  <div class="mobile-container d-flex flex-column justify-content-center">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-5">
      <h3 class="text-center text-info">A gagner aujourd'hui</h3>
        <ul class="list-unstyled mt-5 mb-5">
          <li>
            <strong>1</strong> invit' à l'avant-première de <strong>Roma</strong>
          </li>
          <li>
            <strong>1</strong> place de cinéma
          </li>
          <li>
            <strong>1</strong> menu pop corn
          </li>
        </ul>
        <%= link_to "LANCER LE QUIZ", players_quiz_games_path(@quiz), method: :post, class: "btn btn-info btn-lg btn-block" %>
      </div>
    </div>
  </div>
</div>
