<div class="container mobile-container d-flex flex-column justify-content-center">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 col-lg-5 text-center">
    <h1 class="text-light">Prêt à jouer ?</h1>
      <ul class="list-unstyled mt-5 mb-5">
        <li>
          <p>Une place pour l'avant-première de <strong><%= @quiz.name %></strong> à gagner !</p>
        </li>
      </ul>
      <%= link_to "LANCER LE QUIZ", players_quiz_games_path(@quiz), method: :post, class: "btn btn-light btn-lg btn-block" %>
    </div>
  </div>
</div>
<%= render 'shared/players_counter', quiz: Quiz.find_by(playable: true) %>
