.navbar-mobile {
  box-shadow: 0 6px 20px 0 rgba(0,0,0,.19);
  background: $info;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
}
