div#player-counter {
  position: absolute;
  top: 16px;
  right: 16px;
  background: white;
  border-radius: 10%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // border: 2px solid black;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,.19);

  .number {
    font-size: 2em;
    line-height: 1;
  }

  p {
    margin-bottom: 0;
  }
}
