#quiz_results {
  .fa-trophy {
    color: #FFC107;
    display: none;
  }

  .leader {
    .fa-trophy {
      display: inline-block;
    }
  }

  .me {
    background: rgba(248,249,250,.2);
  }
}

tr.leader-dashboard {
  background: #b4d3ff !important;
}
